<div class="container column">
    <div id="map"></div>
</div>
<script>
  var markers = JSON.parse('<%= (@markers.count) == 0 ? "[]" : raw(@markers.to_json) %>');
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 33.45115165, lng: -84.47746155},
      zoom: 8
    });

    markers.forEach(function(marker) {
      var latLng = new google.maps.LatLng(marker.lat,marker.lng);
      var marker = new google.maps.Marker({position: latLng });
      marker.setMap(map);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4CNr1mOTc9UIyX1F-TPGDC2hbwBrZSKo&callback=initMap"
async defer></script>