<div class="container">
  <div class="main">
    <div class="answer-head">
      <h1>New Question</h1>
      <div class="answer-links">
        <%= link_to "Back", answers_path %>
      </div>
    </div>
    <div class="answer-body">
      <p id="notice"><em><%= notice %></em></p><br>
      <%= render 'form' %>
    </div>
  </div>
</div>
