// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
* {
	color: #fff;
	font-size: 13px;
}

a {
	color: #98A36F;
}

a:hover {
	color: #C8D39F;
}

body {
	background-color: #000;
	background: url("/assets/kudzu.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	@media (max-width: 768px) {
	}
}

.gray {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #666;
	opacity: .5;
	z-index: -1
}

.container {
	display: flex;
	align-items: center;
	justify-content:center;
	min-height: 100vh;
}

.box {
	background-color: #000;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

column {
	flex-direction: column;
}

.greeting-top {
	display: flex;
	align-items: center;
	@media (max-width: 660px) {
		flex-direction: column;
	}
}

.greeting-bottom {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	@media (max-width: 660px) {
		flex-direction: column;
		align-items: center;
	}
}

.greeting-text {
	width: 300px;
	margin: 1.0em;
}

.greeting-text h1 {
	text-align: center;
}

.greeting-bottom a {
	font-size: 20px;
}

.chandler {
	height: 300px;
	border-radius: 12px;
}

.work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 696px;
}

.project {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	width: 300px;
	height: 250px;
	margin: 20px;
	border: solid 4px #000;
	border-radius: 16px;
}

.project:hover .project-image {
	opacity: .45;
	transform: scale(1.05);
}

.project:hover .link-image {
	opacity: 1;
}

.project-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: .5s;
	border-radius: 12px;
}

.link-image {
	margin: 0 15px;
	position: relative;
	height: 70px;
	width: 70px;
	opacity: 0;
	transition: .5s;
}

.contact {
	padding: 10px;
	font-size: 16px;
}

.contact h2 {
	margin-top: 0;
}

.contact p {
	margin-bottom: 0;
	font-size: inherit;
}

.contact a {
	font-size: inherit;
}

.answer-container {
	min-width: 300px;
	padding: 10px;
}

.answer-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.answer-links a {
	display: block;
	text-align: right;
	font-size: 15px;
}

.answer-body p {
	margin-top: 0;
	margin-bottom: 0;
}

textarea {
	color: #000;
	width: 250px;
}

input {
	background-color: #fff;
	color: #000;
}


.instructions {
	padding: 30px;
	max-width: 50%;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	h1 {
		color: red;
		font-size: 18px;
		margin-top: 0;
	}
}