// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #000;
	background: url("kudzu.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	@media (max-width: 768px) {
		border-top: 80px solid red;
		border-right: none;
		min-height: inherit;
	}
}

.gray {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #666;
	opacity: .6;
	z-index: -1
}

.container {
	display: flex;
	align-items: center;
	justify-content:center;
	height: 100vh;
}

.greeting {
	width: 100px;
	height: 100px;
	background-color: #000;
}

.instructions {
	padding: 30px;
	max-width: 50%;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	h1 {
		color: red;
		font-size: 18px;
		margin-top: 0;
	}
}