// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
* {
	color: #fff;
	font-size: 13px;
}

a {
	color: #98A36F;
	font-size: 20px;
}

a:hover {
	color: #C8D39F;
}

body {
	background-color: #000;
	background: url("kudzu.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	@media (max-width: 768px) {
		border-top: 80px solid red;
		border-right: none;
		min-height: inherit;
	}
}

.gray {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #666;
	opacity: .6;
	z-index: -1
}

.container {
	display: flex;
	align-items: center;
	justify-content:center;
	height: 100vh;
}

.greeting {
	background-color: #000;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

.greeting-top {
	display: flex;
	align-items: center;
}

.greeting-bottom {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.greeting-text {
	width: 300px;
	margin: 1.0em;
}

.greeting-text h1 {
	text-align: center;
}

.chandler {
	height: 300px;
	border-radius: 12px;
}

.work {
	display: flex;
	flex-wrap: wrap;
	max-width: 696px;
}

.project {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	width: 300px;
	height: 250px;
	margin: 20px;
	border: solid 4px #000;
	border-radius: 16px;
}

.project:hover .project-image {
	opacity: .5;
}

.project:hover .link-image {
	opacity: 1;
}

.project-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: .5s;
	border-radius: 12px;
}

.link-image {
	margin: 0 15px;
	position: relative;
	height: 70px;
	width: 70px;
	opacity: 0;
	transition: .5s;
}

.contact {
	background-color: #000;
	height: 200px;
	width: 200px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

.instructions {
	padding: 30px;
	max-width: 50%;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	h1 {
		color: red;
		font-size: 18px;
		margin-top: 0;
	}
}